@model List<HouseHoldBudget.Core.Models.Budget.MyHouseHoldBudgetViewModel>
@using HouseHoldBudget.Infrastructure.Data

@{
    ViewBag.Title = "My Budget";
}
<div><b>Table displaying budget in your household</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Name</th>
        <th>Type of account</th>
        <th>Category</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Amount in BGN</th>
        <th>Date</th>
        <th>Additional information</th>
    </tr>
    @foreach (var bInitial in Model)
    {
        <tr>
            <td>@bInitial.Name</td>
            <td>@bInitial.TypeOfAccount</td>
            <td>@bInitial.Category</td>
            <td>@bInitial.Currency</td>
            <td>@bInitial.Amount</td>
            <td>@bInitial.AmountInBgn</td>
            <td>@bInitial.Date</td>
            <td>@bInitial.AdditionalInformation</td>
        </tr>
    }
</table>
